@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello and welcome to my site</h1>
    <p>Introduction: I'm Kelsey Phillips a computer engineering technology student.</p>
    <p>Feedback:</p>
</div>